<div class="mx-auto md:w-2/3 w-full">
  <% if flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice[:alert] %></p>
  <% end %>
  <h1 class="font-bold text-4xl"><%= t('auth.sign_in') %></h1>
  <%= form_with url: login_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, t('auth.email_address'), class: "block font-medium text-gray-700" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t('auth.email_address'), value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :password, t('auth.password'), class: "block font-medium text-gray-700" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t('auth.password'), maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit t('auth.sign_in'), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>
      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to t('auth.dont_have_account'), signup_path, class: "text-gray-700 underline hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>
