<div id="<%= dom_id task %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= task.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= task.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= task.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= task.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= task.priority %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </div>
</div>
